html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    background: url("../images/bg.png");
    background-size: 100%;
    overflow: hidden;
    font-family: "微软雅黑 regular";
}

form{
    width:80%;
    margin:0 auto;
}
.form-text{
    display: block;
    width:100%;
    border-radius: 6px;
    border: 1px solid #e4e4e4;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    padding: 0 10px;
    margin-top: 15px;
    box-sizing: border-box;
}

#apply-btn{
    padding: 15px;
    color: #ecd5b4;
    font-size: 23px;
}


#layer-bg{
    z-index: 99;
    width: 100%;
    height: 100%;
    background:url("../images/transprent-bg-2.png") repeat transparent;
    position: absolute;
    left: 0;
    top: 0;
    display:none;

}

#layer{
    width:90%;
    height: 50%;
    margin: 0 auto;
    border-radius: 4px;
    background-color: #ecd5b4;
}

.hook{
    background: url("../images/hook.png") no-repeat center 20px;
    background-size: 50% auto;
}

.message{
    color:#d45e16;
    font-size: 12px;
    text-align: center;
    margin-top: 10%;
}

.time-msg{
    color:#666666;
    font-size: 12px;
    text-align: center;
    margin-top: 10%;
}

.time{
    color: #d45e16;
}