
.btn{
    border-radius: 4px;
    margin: 0;
    /*padding: 12px 30px;*/
    outline: none;
    border: none;
    font-size: 18px;
    box-sizing: border-box;
    text-align: center;
}

.btn-yellow{
    background-color: #d45e16;
    color:#ffe2c4;
    background: url("../images/btn-apply.png") no-repeat right #d45e16;
}

.btn-white{
    background-color: #ffe2c4;
    color:#d45e16
}

.btn-apply{
    background-color: #d45e16;
    display: block;
    border-radius: 4px;
    /*margin: 0;*/
    padding: 10px 0;
    outline: none;
    border: none;
    font-size: 18px;
    box-sizing: border-box;
    text-align: center;
}

.btn-apply-text{
    color:#ffe2c4;
    display: inline-block;
    height: 28px;
    line-height: 30px;
    box-sizing: border-box;
    padding-right: 30px;
    background: url("../images/btn-apply.png") no-repeat right transparent;
}

.btn-share{
    background-color: #ffe2c4;
    display: block;
    border-radius: 4px;
    margin: 0;
    padding: 10px 0;
    outline: none;
    border: none;
    font-size: 18px;
    box-sizing: border-box;
    text-align: center;
}

.btn-share-text{
    color:#d45e16;
    display: inline-block;
    height: 28px;
    line-height: 30px;
    box-sizing: border-box;
    padding-right: 30px;
    background: url("../images/btn-share.png") no-repeat right transparent;
}