@-moz-keyframes spinningH {
    from {
        -moz-transform: rotateX(0deg) rotateY(0deg);
    }
    to {
        -moz-transform: rotateX(270deg) rotateY(200deg);
    }
}

@-webkit-keyframes spinningH {
    from {
        -webkit-transform: rotateX(0deg) rotateY(0deg);
        opacity: 0;
    }
    to {
        opacity: 1;
        -webkit-transform: rotateX(180deg) rotateY(150deg) rotateZ(50deg);
        /*-webkit-transform: rotateX(180deg) rotateY(150deg) rotateZ(50deg);*/
        /*-webkit-transform: rotateX(300deg) rotateY(320deg) rotateZ(-50deg);*/
        /*-webkit-transform: rotateX(290deg) rotateY(310deg) rotateZ(-50deg);*/
    }
}

@-o-keyframes spinningH {
    from {
        -o-transform: rotateX(0deg) rotateY(0deg);
    }
    to {
        -o-transform: rotateX(270deg) rotateY(270deg);
    }
}

@-ms-keyframes spinningH {
    from {
        -ms-transform: rotateX(0deg) rotateY(0deg);
    }
    to {
        -ms-transform: rotateX(270deg) rotateY(270deg);
    }
}

@keyframes spinningH {
    from {
        transform: rotateX(0deg) rotateY(0deg);
    }
    to {
        transform: rotateX(270deg) rotateY(270deg);
    }
}

#container {
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -o-perspective: 1000px;
    -ms-perspective: 1000px;
    perspective: 1000px;

    -webkit-perspective-origin: 50% 50%;
    -moz-perspective-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-perspective-origin: 50% 50%;
    -ms-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;

    /*border: 1px solid red;*/
    width: auto;
    heigth: auto;
}

.animate {
    -webkit-animation: spinningH 3s cubic-bezier(.17,.67,.22,.98) forwards;
    -moz-animation: spinningH 3s cubic-bezier(.17,.67,.22,.98) forwards;
    -o-animation: spinningH 3s cubic-bezier(.17,.67,.22,.98) forwards;
    -ms-animation: spinningH 3s cubic-bezier(.17,.67,.22,.98) forwards;
    animation: spinningH 3s cubic-bezier(.17,.67,.22,.98) forwards;
}

#cube {
    position: relative;
    margin: 0 auto;
    height: 120px;
    width: 120px;

    opacity: 0;

    -webkit-transition: -webkit-transform 2s linear;
    -moz-transition: -moz-transform 2s linear;
    -o-transition: -o-transform 2s linear;
    -ms-transition: -ms-transform 2s linear;
    transition: transform 2s linear;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;


}

#cube > div {
    position: absolute;
    height: 120px;
    width: 120px;
    line-height: 120px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 0px;
    opacity: 1;
    background-position: center center;
    font-size: 30px;
    color: #d45e16;
    border: 1px solid #795b3b;
    box-sizing: border-box;
    background-color: #e4dcc6;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

}

#cube div:nth-child(1) {
    -webkit-transform:translateZ(60px);
    -moz-transform: translateZ(60px);
    -o-transform: translateZ(60px);
    -ms-transform: translateZ(60px);
    transform: translateZ(60px);
    background-repeat: no-repeat;
}

/*#cube div:nth-child(1) > img{
    -webkit-transform:rotateZ(90deg);
    -moz-transform: rotateZ(90deg);
    -o-transform: rotateZ(90deg);
    -ms-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
}*/

#cube div:nth-child(2) {
    -webkit-transform: rotateY(90deg) translateZ(60px);
    -moz-transform: rotateY(90deg) translateZ(60px);
    -o-transform: rotateY(90deg) translateZ(60px);
    -ms-transform: rotateY(90deg) translateZ(60px);
    transform: rotateY(90deg) translateZ(60px);
    background-repeat: no-repeat;
}

#cube div:nth-child(3) {
    -webkit-transform: rotateY(180deg) translateZ(60px);
    -moz-transform: rotateY(180deg) translateZ(60px);
    -o-transform: rotateY(180deg) translateZ(60px);
    -ms-transform: rotateY(180deg) translateZ(60px);
    transform: rotateY(180deg) translateZ(60px);
    background-repeat: no-repeat;
}

#cube div:nth-child(4) {
    -webkit-transform: rotateY(-90deg) translateZ(60px);
    -moz-transform: rotateY(-90deg) translateZ(60px);
    -o-transform: rotateY(-90deg) translateZ(60px);
    -ms-transform: rotateY(-90deg) translateZ(60px);
    transform: rotateY(-90deg) translateZ(60px);
    background-color: #e5ddca;
    background-repeat: no-repeat;
}

#cube div:nth-child(5) {
    -webkit-transform: rotateX(-90deg) translateZ(60px) rotate(180deg);
    -moz-transform: rotateX(-90deg) translateZ(60px) rotate(180deg);
    -o-transform: rotateX(-90deg) translateZ(60px) rotate(180deg);
    -ms-transform: rotateX(-90deg) translateZ(60px) rotate(180deg);
    transform: rotateX(-90deg) translateZ(60px) rotate(180deg);
    background-repeat: no-repeat;
}

#cube div:nth-child(6) {
    -webkit-transform: rotateX(90deg) translateZ(60px);
    -moz-transform: rotateX(90deg) translateZ(60px);
    -o-transform: rotateX(90deg) translateZ(60px);
    -ms-transform: rotateX(90deg) translateZ(60px);
    transform: rotateX(90deg) translateZ(60px);
    background-repeat: no-repeat;
    text-align: center;
}

#position-top {
    position: absolute;
    right: 0;
    bottom: 0
}

#position-bottom {
    position: absolute;
    left:0;
    top:0;
}

#society-zp,#school-zp{
    position: absolute;
    width:35%;
}

#society-zp > h1,#school-zp > h1{
    width: 100%;
    font-size: 18px;
    color:#ca4d01;
    margin:5px 0 ;
    padding:0;
    opacity: 0;
}
#school-zp > h1{
    text-align: right;
 }

.zp-sh{
    position: absolute;
    right: 0px;

}

#society-zp > img,#school-zp > img{
    width: 100%;
    opacity: 0;
}

#society-p,#school-p{
    position: absolute;
    width:10px;
    height: 10px;
    opacity: 0;
}

.cube-logo{
    width:50%;
    vertical-align: middle;
}

