html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "微软雅黑 regular";
}

*:active{
    background: transparent;
}

div {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.swiper-container-outer, .swiper-container-inner {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    /* Fix of Webkit flickering */
    z-index: 1;
}

/*设置内容区域的高度:高度在js里面会被修改*/
.swiper-container-inner {
    height: 80%;
}

/****底部导航条*****/
.swiper-container-outer > .swiper-wrapper > .swiper-slide {
    position: relative;
    height: 100%;
    width: 100%;
}

.bottom {
    width: 100%;
    height: 60px;
    /*max-height: 50px;*/
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    z-index: 999;
}

.bottom-nav {
    float: left;
    width: 33.3333%;
    opacity: 0.8;
    display: table;
}

.nav {
    height: 50px;
    /*line-height: 50px;*/
    text-align: center;
    box-sizing: border-box;
    background-color: #f5e1c6;
    display:table;
    vertical-align: middle;
    width: 100%;
}

.nav-text{
    display: table-cell;vertical-align: middle
}

.nav-active {
    background-color: #fff4e8;
    color:#d45e16;
}

.nav-triangle {
    height: 10px;
    width: 0px;
    margin: 0 auto;
}

.nav-triangle-active {
    border-width: 0 10px 10px 10px;
    border-style: solid;
    border-color: transparent transparent #fff4e8;
}

/*导航定位*/
#society {
    position: absolute;
    left: 18%;
    top: 15%;
    font-size: 25px;
    color: darkred;
}

#school {
    position: absolute;
    right: 18%;
    bottom: 15%;
    font-size: 25px;
    color: darkred;
}

.clearfix {
    *zoom: 1;
}

.clearfix:before, .clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}

.clearfix:after {
    clear: both;
}

@keyframes arrow {
    0% {
        bottom: 50px;
        opacity: 0;
    }
    50% {
        bottom: 65px;
        opacity: 1;
    }
    100% {
        bottom: 80px;
        opacity: 0;
    }
}

@-webkit-keyframes arrow {
    0% {
        bottom: 50px;
        opacity: 0;
    }
    50% {
        bottom: 65px;
        opacity: 1;
    }
    100% {
        bottom: 80px;
        opacity: 0;
    }
}

.arrow {
    position: absolute;
    z-index: 999;
    bottom: 50px;
    width: 6%;
    left: 46%;
    right: 46%;
    animation: arrow 2s infinite linear;
    -webkit-animation: arrow 2s infinite linear;
}

@keyframes arrow-right {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes arrow-right {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.arrow-right {
    font-size: 12px;
    box-sizing: border-box;
    animation: arrow-right 2s infinite linear;
    -webkit-animation: arrow-right 2s infinite linear;
}

/*#school-zp .arrow-right{
    position: absolute;
    right: 0;
    padding-left: 5px;
}*/


#center-cube{
    position: absolute;
    left: 0;
    top:0;
    opacity: 0;
    background: url("../images/center-cube.png") center no-repeat;
    background-size: 45%;
    width:100%;
    height:100%;
}

