/*#inner_1 {
    background: url("../images/egineer-bg.png") no-repeat bottom;
    background-size: 100% auto;
}

#inner_2{
    background: url("../images/egineer-bg.png") no-repeat bottom;
    background-size: 100% auto;
}

#inner_3{
    background: url("../images/egineer-bg.png") no-repeat bottom;
    background-size: 100% auto;
}

#inner_4{
    background: url("../images/egineer-bg.png") no-repeat bottom;
    background-size: 100% auto;
}*/

.kind-title, .job-title {
    width: 100%;
    height: 120px;
    margin: 0 auto;
    text-align: center;
    color: #d45e16;
    background: url("../images/engineer-line.png") no-repeat center 30px;
    background-size: 130px auto;
}

.kind-title {
    font-size: 25px;
    margin-top: 15%;
    /*opacity: 0;*/
}

.job-title {
    margin-top: 6%;
    height: 60px;
    margin-bottom: 0;
    font-size: 22px;
    /*border: 1px solid red;*/
}

.job-content{
    box-sizing: border-box;
    font-size: 14px;
    color:#2d1100;
    width:90%;
    margin:0 auto;
    padding: 12px;
    background: url("../images/transparent-bg.png") repeat;
    border: 1px solid #dabe9c;
    overflow: hidden;
    z-index: 99999;
}
.job-content h2{
    font-size: 16px;
    color: #2d1100;
    margin: 10px 0;
    padding: 0;
}

.job-content p{
    margin: 5px 0 0 0;
    line-height: 18px;
}

.image-bg {
    width: 100%;
    height: 100%;
    background: url("../images/bg.png") no-repeat center;
    background-size: 100% 100%;
    position: absolute;
    left: 0;
    top: 0;
    text-align: left;
}

.kind-bg{
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0;
}
/*
.kind-bg-inner_1, .kind-bg-inner_2, .kind-bg-inner_3, .kind-bg-inner_4 {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-size:auto 100%;
    position: absolute;
    left: 0;
    top: 0;
    text-align: left;
}

.kind-bg-inner_1{
    background: url("../images/egineer-bg.png") no-repeat bottom;
}
.kind-bg-inner_2{
    background: url("../images/market-bg.png") no-repeat bottom;
}
.kind-bg-inner_3{
    background: url("../images/finance.png") no-repeat bottom;
}
.kind-bg-inner_4{
    background: url("../images/finance.png") no-repeat bottom;
}*/



.slide-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.container{
    width: 90%;
    margin: 10px auto;
}
.container:after{
    display: table;
    line-height: 0;
    content: "";
    clear: both;
}
.apply,.share{
    width:49%;
}
.apply{
    /*float: left;*/
    margin:0 auto;
}

.share{
    float: right;
}

.delay-100 {
    -webkit-animation-delay: 0.1s; /* Chrome, Safari, Opera */
    animation-delay: 0.1s;
}

.delay-200 {
    -webkit-animation-delay: 0.2s; /* Chrome, Safari, Opera */
    animation-delay: 0.2s;
}

.delay-300 {
    -webkit-animation-delay: 0.3s; /* Chrome, Safari, Opera */
    animation-delay: 0.3s;
}

.delay-400 {
    -webkit-animation-delay: 0.4s; /* Chrome, Safari, Opera */
    animation-delay: 0.4s;
}

.delay-500 {
    -webkit-animation-delay: 0.5s; /* Chrome, Safari, Opera */
    animation-delay: 0.5s;
}
.delay-600 {
    -webkit-animation-delay: 0.6s; /* Chrome, Safari, Opera */
    animation-delay: 0.6s;
}

.delay-700 {
    -webkit-animation-delay: 0.7s; /* Chrome, Safari, Opera */
    animation-delay: 0.7s;
}

.delay-800 {
    -webkit-animation-delay: 0.8s; /* Chrome, Safari, Opera */
    animation-delay: 0.8s;
}

.delay-900 {
    -webkit-animation-delay: 0.9s; /* Chrome, Safari, Opera */
    animation-delay: 0.9s;
}

.delay-1000 {
    -webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
    animation-delay: 1s;
}
.delay-1100 {
    -webkit-animation-delay: 1.1s; /* Chrome, Safari, Opera */
    animation-delay: 1.1s;
}

.delay-1200 {
    -webkit-animation-delay: 1.2s; /* Chrome, Safari, Opera */
    animation-delay: 1.2s;
}

.delay-1300 {
    -webkit-animation-delay: 1.3s; /* Chrome, Safari, Opera */
    animation-delay: 1.3s;
}

.delay-1400 {
    -webkit-animation-delay: 1.4s; /* Chrome, Safari, Opera */
    animation-delay: 1.4s;
}

.delay-1500 {
    -webkit-animation-delay: 1.5s; /* Chrome, Safari, Opera */
    animation-delay: 1.5s;
}

.delay-1600 {
    -webkit-animation-delay: 1.6s; /* Chrome, Safari, Opera */
    animation-delay: 1.6s;
}
.delay-1700 {
    -webkit-animation-delay: 1.7s; /* Chrome, Safari, Opera */
    animation-delay: 1.7s;
}

.delay-1800 {
    -webkit-animation-delay: 1.8s; /* Chrome, Safari, Opera */
    animation-delay: 1.8s;
}

.delay-1900 {
    -webkit-animation-delay: 1.9s; /* Chrome, Safari, Opera */
    animation-delay: 1.9s;
}

.delay-2000 {
    -webkit-animation-delay: 2s; /* Chrome, Safari, Opera */
    animation-delay: 2s;
}


.delay-3000 {
    -webkit-animation-delay: 3s; /* Chrome, Safari, Opera */
    animation-delay: 3s;
}

.delay-4000 {
    -webkit-animation-delay: 4s; /* Chrome, Safari, Opera */
    animation-delay: 4s;
}

.delay-5000 {
    -webkit-animation-delay: 5s; /* Chrome, Safari, Opera */
    animation-delay: 5s;
}

.delay-6000 {
    -webkit-animation-delay: 6s; /* Chrome, Safari, Opera */
    animation-delay: 6s;
}

.delay-7000 {
    -webkit-animation-delay: 7s; /* Chrome, Safari, Opera */
    animation-delay: 7s;
}

.delay-8000 {
    -webkit-animation-delay: 8s; /* Chrome, Safari, Opera */
    animation-delay: 8s;
}

.delay-9000 {
    -webkit-animation-delay: 9s; /* Chrome, Safari, Opera */
    animation-delay: 9s;
}

.delay-10000 {
    -webkit-animation-delay: 10s; /* Chrome, Safari, Opera */
    animation-delay: 10s;
}