#school-container {
    width: 89%;
    margin: 20% auto;
    height: 60%;
    box-sizing: border-box;
    /*border: 1px solid red;*/
    position: relative;
}

#school-box {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 0;
}

#p_1 {
    width: 38%; /*221/570*/
    left: 36%;
    position: absolute;
    z-index: 3; /*要比#p_2高一点点*/
    opacity: 0;

}

#p_2 {
    width: 94%; /*550/570*/
    left: 8%;
    position: absolute;
    z-index: 2; /*要比#school-box高一点点*/
    opacity: 0;
}

#zhi_1, #nan, #zhi_2, #nv, .text {
    opacity: 0;
}

#text-container {
    position: absolute;
    width: 70%;
    left: 10%;
    margin: 0 auto;
    /* border: 1px solid red;*/
    overflow: hidden;
    bottom: 0;
}

#text-container > img {
    float: left;
    width: 23%;
    margin-left: 2.5%;
}

#text-container > img:first-child {
    margin-left: 0;
}

.p_text {
    font-family: "微软雅黑";
    font-size: 20px;
}

p.p_text {
    pading: 0;
    margin: 10px;
}

.strong_text {
    font-family: "微软雅黑";
    font-weight: bold;
    font-size: 22px;
}

.orange_text {
    color: #cd5719;
    font-family: "微软雅黑";
    font-weight: bold;
    font-size: 32px;
}

.right-t {
    width: 0;
    height: 0;
    border-width: 10px 5px;
    border-style: solid;
    border-color: #2b0f00 #2b0f00 transparent transparent;
    float: right;
}

.star{
    background: url("../images/star.png") no-repeat;
    width: 100%;
}

.city{
    position: absolute;
    z-index: 9;
    padding: 10px;
}

.city-left{
    background: url("../images/city-bg-left.png") no-repeat center;
}

.city-right{
    background: url("../images/city-bg-right.png") no-repeat center;
}

#layer-bg{
    z-index: 99;
    width: 100%;
    height: 100%;
    background:url("../images/transprent-bg-2.png") repeat transparent;
    position: absolute;
    display:none;

}

#layer{
    width:90%;
    margin: 0 auto;
    border-radius: 4px;
    background-color: #ecd5b4;
    padding: 20px 0 10px 0;
}

.school-unit{
    padding: 10px 0;
}

.school-content{
    width:180%;
    margin:0 auto;
}

.school-num-ctn{
    float: left;
    width:20%;
    box-sizing: border-box;
    position: relative;
}
.school-detail{
    float: right;
    width: 80%;
    box-sizing: border-box;
    padding: 0 5px;
}
.school-num{
    width: 20px;
    height:20px;
    border-radius: 10px;
    position: absolute;
    right: 5px;
    top: 0;
    background-color: #d45e16;
    color:#ecd5b4;
    text-align:center;
}

.td-1,.td-2{
    color:#582100;
    font-size: 14px;
    text-align: left;
    margin: 10px;
    vertical-align: top;
}

.td-1{
    font-weight: bold;
    width:25%;
}
.td-2{
    font-weight: normal;
}

.school-close-ctn{
    width: 70%;
    margin:0 auto;
    background: url("../images/line-black.png") repeat-x center;
    text-align: center;
}

.school-close{
    width: 40px;
    line-height: 40px;
    height:40px;
    border-radius: 20px;
    margin:0 auto;
    background-color: #582100;
    display: block;
    font-size: 12px;
    color:#ffebcf;
    text-align: center;
}
.school-title{
    font-size: 22px;
    color:#d45e16;
    font-family: "微软雅黑 regular";
    font-weight: normal;
    margin:0;
    padding:0;
    text-align: center;
}
.school-title-bg-ctn{
    width: 80%;
    margin:0 auto;
    background: url("../images/line-red.png") repeat-x center;
}
.school-title-bg{
    width: 10px;
    height:10px;
    border-radius: 5px;
    margin:0 auto;
    background-color: #d45e16;
    display: block;
    color:#ffebcf;
}

@keyframes fade-in-out {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fade-in-out {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

.breathe {
    animation: fade-in-out 2s infinite ease-in-out reverse;
    -webkit-animation: fade-in-out 2s infinite ease-in-out reverse;
}