.society-nav {
    /*border:1px solid red;*/
    position: absolute;
    width: 35%;
    height: 40%;
    opacity:0;
}

.society-nav-container {
    position: relative;
    border: 1px solid red;
    height: 100%;
}

#engineer, #function {
    top: 7%;
}

#market, #finance {
    bottom: 7%;
}

#engineer, #market {
    left: 7%;
}

#function, #finance {
    right: 7%;
}

.society-nav-logo {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

/*logo位置*/
#engineer > .society-nav-logo {
    background: url("../images/engineer-logo.png") no-repeat center;
    background-size: 100% auto;
}

#function > .society-nav-logo {
    background: url("../images/function-logo.png") no-repeat center;
    background-size: 100% auto;
}

#market > .society-nav-logo {
    background: url("../images/market-logo.png") no-repeat center;
    background-size: 100% auto;
}

#finance > .society-nav-logo {
    background: url("../images/finance-logo.png") no-repeat center;
    background-size: 100% auto;
}

/*title位置*/
.society-nav-title {
    color: #d45e16;
    font-size: 18px;
    z-index: 1;
    position: absolute;
   /* border: 1px solid green;*/
    height: 60px;
    width: 70px;
}

#engineer > .society-nav-title {
    left: 0;
    top: 0;
}

#function > .society-nav-title {
    right: 0;
    top: 0;
}

#market > .society-nav-title {
    left: 0;
    bottom: 0;
}

#finance > .society-nav-title {
    right: 0;
    bottom: 0;
}


/*工程类首页*/
#engineer-1{

}


